- if @obj.status == :completed
  = render :partial => "completed", :locals => {obj: @obj}
- elsif @obj.status == :new || @obj.status == :processing
  = render :partial => "not_completed", :locals => {obj: @obj}
- else
  = render :partial => "failed", :locals => {obj: @obj}
