// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header
    text-align: center
.footer
    border-top: solid 1px #cccccc
    text-align: center
.formbox
    text-align: center
    border: solid 3px #000000
